<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Produtos</ion-title>
</ion-toolbar>

<ion-content>
  <ion-avatar>
    <img *ngIf="!isImageSaved" class="circle" [src]="cliente?.foto || 'assets/img/blank.png'">
    <img *ngIf="isImageSaved" [src]="cardImageBase64" />
  </ion-avatar>
  <ion-input type="file" accept="image/*" (ionChange)="salvarFoto($event)">Alterar Imagem</ion-input>
<h2>{{clienteDTO?.nome}}</h2>
<p>{{clienteDTO?.id}}</p>
<p>{{clienteDTO?.email}}</p>
<p>{{clienteDTO?.senha}}</p>
<p>{{clienteDTO?.documento}}</p>
</ion-content>
