<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/carrinho']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-item *ngFor="let produto of listaProduto" (click)="showProdutoDetalhe(produto.id)">
    <ion-thumbnail slot="start">
      <img src="assets/img/semfoto.jpeg">
    </ion-thumbnail>
    <ion-label>{{produto.nome}}</ion-label>
    <ion-label>{{produto.preco | currency}}</ion-label>
  </ion-item>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
