<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes Pedido {{pedidoDTO.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Endereco</h1>
  <ion-label>{{pedidoDTO.enderecoEntrega.logradouro+", "+pedidoDTO.enderecoEntrega.numero}}</ion-label><br>
  <ion-label>{{pedidoDTO.enderecoEntrega.cidade.nome}}, {{pedidoDTO.enderecoEntrega.cidade.estado.nome}}</ion-label>
  <h1>Produtos</h1>
  <ion-item *ngFor="let item of pedidoDTO.itens">
    <ion-thumbnail slot="start">
      <img src="assets/img/semfoto.jpeg">
    </ion-thumbnail>
    <ion-label>{{item.produto.nome}}</ion-label>
    <ion-label>{{item.produto.preco*item.quantidade | currency}}</ion-label>
    <ion-label>{{item.quantidade}}</ion-label>
  </ion-item>
  <ion-item *ngIf="totalCarrinho() > 0">
    <h1>Total: {{totalCarrinho() | currency}}</h1>
  </ion-item>
  <ion-button expand="Button" [routerLink]="['/home']">Voltar</ion-button>
</ion-content>
