<div class="menu-curto">

  <div class="icone home"><i class="fa fa-home"></i></div>
  <div class="icone bookmark"><i class="fa fa-bookmark"></i></div>
  <div class="icone blog"><i class="fa fa-medium"></i></div>
  <div class="icone music"><i class="fa fa-music"></i></div>
  <div class="icone email"><i class="fa fa-envelope"></i></div>
  <div class="spacer"></div>
  <div class="icone power"><i class="fa fa-power-off"></i></div>

</div>