<ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registrarUsuario(); $event.preventDefault()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="clienteDTO.nome" name="nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>email</ion-label>
      <ion-input [(ngModel)]="clienteDTO.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input [(ngModel)]="clienteDTO.senha" name="senha" type="text"></ion-input>
    </ion-item>
    <ion-list >
      <ion-radio-group [(ngModel)]="clienteDTO.tipo" name="case">
        <ion-list-header>
          <ion-label>Tipo</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Pessoa Fisica</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Pessoa Juridica</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-label>Documento</ion-label>
      <ion-input [(ngModel)]="clienteDTO.documento" name="documento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Logradouro</ion-label>
      <ion-input [(ngModel)]="clienteDTO.logradouro" name="logradouro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Numero</ion-label>
      <ion-input [(ngModel)]="clienteDTO.numero" name="numero" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Complemento</ion-label>
      <ion-input [(ngModel)]="clienteDTO.complemento" name="complemento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bairro</ion-label>
      <ion-input [(ngModel)]="clienteDTO.bairro" name="bairro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CEP</ion-label>
      <ion-input [(ngModel)]="clienteDTO.cep" name="cep" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telefone</ion-label>
      <ion-input [(ngModel)]="clienteDTO.telefone1" name="telefone1" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telefone 2</ion-label>
      <ion-input [(ngModel)]="clienteDTO.telefone2" name="telefone2" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Telefone 3</ion-label>
      <ion-input [(ngModel)]="clienteDTO.telefone3" name="telefone3" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="estado_id" name="estado" (ionChange)="buscarCidades(estado_id);">
        <ion-select-option *ngFor="let est of listaEstados" value="{{est.id}}">{{est.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select [(ngModel)]="clienteDTO.idCidade" name="cidade">
        <ion-select-option *ngFor="let cid of listaCidades" value="{{cid.id}}">{{cid.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="Button" type="submit">Salvar</ion-button>
  </form>
</ion-content>
