<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of listaItens">
    <ion-thumbnail slot="start">
      <img src="assets/img/semfoto.jpeg">
    </ion-thumbnail>
    <ion-label>{{item.produto.nome}}</ion-label>
    <ion-label>{{item.produto.preco | currency}}</ion-label>
    <ion-icon name="remove-circle" (click)="removerQtdProduto(item.produto)"></ion-icon>
    <ion-label>{{item.quantidade}}</ion-label>
    <ion-icon name="add-circle" (click)="adicionarQtdProduto(item.produto)"></ion-icon>
    <ion-icon name="trash" (click)="removerProduto(item.produto)"></ion-icon>
  </ion-item>
  <ion-item *ngIf="totalCarrinho() > 0">
    <h1>Total: {{totalCarrinho() | currency}}</h1>
  </ion-item>
  <ion-item *ngIf="totalCarrinho() <= 0">
    <h1>Carrinho vazio</h1>
  </ion-item>
  <ion-button expand="Button" [routerLink]="['/escolher-endereco']">Finalizar Pedido</ion-button>
</ion-content>