<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{produtoDTO?.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/carrinho']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-avatar>
    <img class="circle" [src]="produtoDTO?.foto || 'assets/img/semfoto.jpeg'">
  </ion-avatar>
<h2>{{produtoDTO?.nome}}</h2>
<p>{{produtoDTO?.preco | currency}}</p>
<ion-button expand="Button" (click)="adicionarCarrinho(produtoDTO)">Adicionar Carrinho</ion-button>
</ion-content>
