<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema de Pedidos 
      <img src="assets/icon/favicon.png" alt="Logotipo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>email</ion-label>
    <ion-input [(ngModel)]="credenciais.email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>senha</ion-label>
    <ion-input [(ngModel)]="credenciais.senha" type="password"></ion-input>
  </ion-item>
  <ion-button expand="Button" [routerLink]="['/categoria']">Categorias</ion-button>
  <ion-button expand="Button" (click)="login()">Login</ion-button>
  <ion-button expand="Button" [routerLink]="['/registrar']">Registrar</ion-button>
  <ion-button expand="Button" [routerLink]="['/carrinho']"><ion-icon name="cart"></ion-icon></ion-button>
</ion-content>