<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Selecione Endereco Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let endereco of enderecos" (click)="setEndereco(endereco)">
    <ion-icon name="checkmark" *ngIf="endereco.id==enderecoSelecionado?.id"></ion-icon>
    <ion-label>{{endereco.logradouro}}, {{endereco.numero}}</ion-label>
    <ion-label>{{endereco.cidade.nome}}, {{endereco.cidade.estado.nome}}</ion-label>
  </ion-item>

  <ion-list >
    <ion-radio-group name="case">
      <ion-list-header>
        <ion-label>Forma Pagamento</ion-label>
      </ion-list-header>
  
      <ion-item (click)="setPagamento(1)">
        <ion-label>Boleto</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
  
      <ion-item (click)="setPagamento(2)">
        <ion-label>Cartao</ion-label>
        <ion-radio slot="start" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="Button" (click)="salvarPedido()">Salvar</ion-button>
</ion-content>
