<!--
  para criar uma nova pagina no terminar na raiz do projeto digitar o comando:
  ionic generate page Categoria
  O ionic gera as paginas e modulos para a nova pagina!!!!
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/carrinho']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item *ngFor="let cat of listaCategoria" (click)="showProdutos(cat.id)">
    <ion-thumbnail slot="start">
      <img src="assets/img/categoria.png">
    </ion-thumbnail>
    <ion-label>{{cat.nome}}</ion-label>
  </ion-item>

</ion-content>
